<!DOCTYPE HTML>
<html>
<head>
    <title>My Coral Reef | Gestion de acuarios marinos</title>
    <link rel="icon" type="image/png" href="seahorse.png">
    {% block metacontent %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Gestiona los parametros de tu acuario marino o de agua dulce" />
        <meta name="keywords" content="acuario,marino,dulce,parametros,quimicos,medicion,peces,corales" />
    {% endblock %}

    {% block stylesheets %}
        <!--[if lte IE 8]><script src="{{ asset('frontendbundle/css/ie/html5shiv.js') }}"></script><![endif]-->
        <link rel="stylesheet" href="{{ asset('frontendbundle/css/skel.css') }}" />
        <link rel="stylesheet" href="{{ asset('frontendbundle/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('frontendbundle/css/style-noscript.css') }}" />

        <!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('frontendbundle/css/ie/v8.css') }}" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('frontendbundle/css/ie/v9.css') }}" /><![endif]-->

    {% endblock %}
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />
</head>
<body class="index loading">

<section id="banner">
    <div class="inner" style="none repeat scroll 0 0 rgba(52, 27, 43, 0.6) !important;">
        <header><h2><img src="{{ asset('frontendbundle/images/logo_color.png') }}" alt="MY CORAL REEF" height="60" /></h2></header>
        <p>
        <div style="margin-bottom: 19px;">TIPO ERROR #{{ "now"|date("mdY-hi") }}{% if app.user%}/@{{ app.user.id }}{% endif %}</div>
         Por favor contacta con <a href="mailto:hola@mycoralreef.es ">hola@mycoralreef.es</a> enviandonos el tipo de error para resolverlo lo antes posible
           </p>

        <footer>
            <ul class="buttons vertical">
                <li><a class="button fit scrolly" href="mailto:hola@mycoralreef.es ">CONTACTAR</a></li>
            </ul>
        </footer>

    </div>
</section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="https://twitter.com/MyCoralReef" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/MyCoralReef" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://plus.google.com/+MyCoralReef" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
        </ul>
        <span class="copyright">&copy; My Coral Reef<a href="http://mycoralreef.es/" target="_blank">http://mycoralreef.es/</a></span>
    </footer>



    <script type="text/javascript">
        var global_path = "{{ asset('frontendbundle/') }}";
    </script>
    <script src="{{ asset('frontendbundle/js/jquery.min.js') }}"></script>
    <script src="{{ asset('frontendbundle/js/jquery.dropotron.min.js') }}"></script>
    <script src="{{ asset('frontendbundle/js/skel.min.js') }}"></script>
    <script src="{{ asset('frontendbundle/js/skel-layers.min.js') }}"></script>
    <script src="{{ asset('frontendbundle/js/init.js') }}"></script>


</body>
</html>