{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}
{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}
