{% if(alerts|length >0 ) %}
{% for alert in alerts %}
<div class="alert alert-danger" style="height: 114px;margin-top: 0px;  margin-left:7px;font: bold 10px Arial;color:#a9302a;padding-top:25px;">
{{alert.text}}<br>
<i class="{{alert.icon}}" style="{{alert.class}}" title="{{alert.text}}"></i>
</div>
{% endfor %}
{% else %}
        <div class="alert alert-success" role="alert"  style="height: 114px;margin-top: 0px;  margin-left:7px;font: bold 10px Arial;color:#999999;padding-top:30px;">
            <i class="fa fa-check-square-o fa-3x"></i>
            <br>
            No hay alertas conocidas
        </div>
{% endif %}

