<div class="panel panel-success col-md-3" style="min-height: 350px;background: white url('/img/clock.jpg');">
      
       <div class="dropdown" style="float:right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="background: transparent;
background-color:transparent;
border: activeborder;">
              <i class="fa fa-bars fa-inverse"></i>
             
            </button>
            
       </div>  
        
        
      <div class="panel-body">
      <center><br><bR>
      <span style="font-size:20px;color:#ccc;">Miercoles, 8</span><br> 
     
      <span style="font-size:30px;color:#fff;">18:30</span>
      </center>
      
      </div>
 </div>
