<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"> <i class="fa fa-heartbeat"></i></span>
        <div class="info-box-content">
            <span class="info-box-number"><div id="gauge" style="width:140px; height:80px"></div></span>
        </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
</div>

{% block javascripts %}
    <script src="/justGage/resources/js/raphael.2.1.0.min.js"></script>
    <script src="/justGage/resources/js/justgage.1.0.1.min.js"></script>
    <script>
    var g = new JustGage({
    id: "gauge",
    value: "{{ interval }}",
    min: 0,
    max: 100,
    labelFontColor: "#000",
    title: " ",
    showMinMax: false,
    levelColors: ['#ff5b5b','#ffa500','#5BB75B']
    });
    </script>
{% endblock %}
