
 <div class="panel panel-success col-md-2" style="min-height: 150px;background: white url('/img/weather.jpg');">
      
       <div class="dropdown" style="float:right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="background: transparent;
background-color:transparent;
border: activeborder;">
              <i class="fa fa-bars fa-inverse"></i>
             
            </button>
                   </div>  
        
        
      <div class="panel-body">
      <center><br><br>
      <span style="font-size:50px;color:#fff;">21º</span>
      </center>
      </div>
     </div>

