{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}


<div class="col-lg-12 front bright-top bright-bottom">
    <h4><i class="fa fa-file-image-o"></i> Recursos para foros y amigos</h4>
</div>


<div class="col-lg-12 front bright-top bright-bottom">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success" style="border-color:#ccc;text-align:center;color:#000;background-color:#fff;">

                <span>Si quieres tus datos en la firma de algun foro o email puedes decargarlo aqui:<br>
                     <a class="btn btn-default" style="color:#000;" href="http://mycoralreef.es/widgets/{{ user.id }}/last.png"><i class="fa fa-download"></i> descargar imagen</a>
                </span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="alert alert-success" style="border-color:#ccc;text-align:center;color:#000;background-color:#fff;">
                <img src="/qr/{{ user.id }}.png"><br>
                <span>Si quieres compartir el codigo QR de tu perfl publico peudes descargarlo aqui:<br>
            <a class="btn btn-default" style="color:#000;" href="/qr/{{ user.id }}.png"> <i class="fa fa-download"></i> descargar QR</a>
                </span>
            </div>
        </div>
    </div>
</div>
    

<div class="col-lg-12 front bright-top bright-bottom">
    <h4><i class="fa fa-magic"></i> Servicio para aplicaciones externas: Arduinos y Rasperris</h4>
</div>

<div class="col-lg-12 front bright-top bright-bottom">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">La url del Web Service para actualizar datos de forma remota es:</h3>
            </div>
            <div class="panel-body">
                http://www.mycoralreef.es/front/ws/new_parameter ?token=<span style="color: #900">TOKEN</span> &ph=<span style="color: #900">VALOR_PH</span> &temperature=<span style="color: #900">VALOR_TEMPERATURA</span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Instrucciones</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    Hay que llamar a la url del web service sustituyendo los valores e rojo por tus valores, el token es unico e intrasferible para cada usuario, si cambias el token tendrás que actualizar tambien la llamada en tu aplicación externa
                </div>
                <b>TOKEN:</b> {% if user.wsToken == null %} "genera un token para poder usar la aplicacion"  {% else %}<span style="color: #900;font-weight: bold;">{{ user.wsToken }}</span> {% endif %}<br>
                <b>VALOR_PH:</b> Valor numerico con decimales del PH del acuario<br>
                <b>VALOR_TEMPERATURA:</b> Valor numerico con decimales de la temperatura del acuario<br><br>
                <a href="{{ path('generate_ws_token') }}" class="btn btn-danger">Generar nuevo Token<a/>
            </div>
        </div>

</div>

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% endblock %}
