{% extends "JalisFrontendBundle::layout_public.html.twig" %}
{% block body %}
<div class="col-lg-12 front bright-top bright-bottom">
    <h4 style="display: inline-block;"><i class="fa fa-plug fa-1x"></i>
        SALA DE MAQUNAS DE {{ user.username | upper }}</h4>

</div>
<div class="col-lg-12 front bright-bottom bright-top">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"> <i class="fa fa-euro"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Coste total</span>
                        <span class="info-box-number">? €<small></small></span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"> <i class="fa fa-plug"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Consumo electrico</span>
                        <span class="info-box-number"><small>? €<span style="font-size:12px;"> al mes</span> </small></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"> <i class="fa fa-flash"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Aparatos ON</span>
                        <span class="info-box-number"><small>{{ data.total_on }}</small></span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"> <i class="fa fa-power-off"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Aparatos OFF</span>
                        <span class="info-box-number"><small>{{ data.total_off }}</small></span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div>
        </div>
 </div>
    {% if(entities| length != 0) %}
    <div class="col-lg-12 front bright-top bright-bottom" style="min-height:300px;">
        {% for entity in entities %}

            <div class="col-lg-6" style="min-height:300px;">
                <div class="col-lg-12">
                    <div class="col-lg-12" style="font-size:20px;">

                        <div class="col-lg-12" style="margin-bottom:5px;">
                            <span class="label label-default" style="font-weight:300;">{{ entity.tipo }}</span> {{ entity.marca }} {{ entity.modelo }}
                        </div>

                        <div data-toggle="tooltip" data-placement="left" id="circle-image" class="col-lg-4" style="backgrouns-color:#ccc;margin:10px;margin-top:0px;width:130px;height:130px;background-image:url('http://mycoralreef.es//script/thumb.php?src={{ gallery[entity.id] }}&w=130&h=130&a=c');">
                            {%  if  entity.unidades is not null  %}
                            <div class="img-circle" alt="..." style="color: #000; padding:6px;background-color:#fff;border:solid 1px #ccc; top: 5px;left: -10px; position:relative;z-index:10;width:32px;font-size:12px;" height="50px" width="70px">x{{ entity.unidades }}</div>
                            {% endif %}
                        </div>

                            <div class="col-lg-8" style="font-size:15px;">
                                <ul class="animal_info" style="list-style:none;padding-left: 0;">
                                    {%  if  entity.horas is not null  %}
                                        <li><b><i class="fa fa-clock"></i> Horas diarias </b>{{ entity.horas }} horas</li>
                                    {% endif %}
                                    <li><b><i class="fa fa-flash"></i> Consumo </b>{{ entity.watios }} watios</li>
                                    <li><b><i class="fa fa-calendar"></i> Fecha de instalacion </b>{{ entity.createdAt|date("m/d/Y") }}</li>
                                    <li><b><i class="fa fa-home"></i> Descripcion </b>{{ entity.descripcion }}</li>
                                    <li>
                                        <div style="display:inline-block;">
                                                <input type="checkbox" disabled="disabled" name="my-checkbox" {% if entity.estado == 1 %}checked{% endif %} }}>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>


        
{% else %}
<div class="col-lg-offset-2 col-lg-10">
    <div class="col-md-offset-2 col-lg-10" style="min-height:100px;padding:30px">
        <div style="font-size:20px;">
            <a href="#" style="color:#fff;" class="btn btn-default box_transparent" type="button">
                <i class="fa fa-tachometer fa-1x"></i> La sala de maquinas esta vacia
            </a>
        </div>
    </div>
</div>
{% endif %}

<script>
    $(function () {
        $('[name="my-checkbox"]').bootstrapSwitch();
    })
</script>

{% endblock %}
