{% extends "JalisFrontendBundle::layout_public.html.twig" %}
{% block body %}
<link rel="stylesheet" href="/vertical-timeline/css/style.css"> <!-- Resource style -->

<div class="col-lg-12 front bright-top bright-bottom">
    <h4><i class="fa fa-code-fork"></i> Cuaderno de bitacora de {{ user.username }}</h4>
</div>
    {% if aquarium %}

    <div class="col-lg-12 front bright-top bright-bottom"  style="background: none repeat scroll 0 0 #e9f0f5;">
    <div class="row">
        <section id="cd-timeline" class="cd-container">
            {% for entry in timeline %}
                {% if entry.type == 'tenant' %}
                    <div class="cd-timeline-block" >
                        <div class="cd-timeline-img cd-picture">
                                <i class="fa fa-paw fa-2x"></i>
                        </div> <!-- cd-timeline-img -->
                        <div class="cd-timeline-content">
                            <h2> Nuevo inquilino </h2>
                            <p>
                                {% set obj = entry.obj  %}
                                <img class="col-lg-5 col-xs-12 col-sm-6" style="padding:0px;padding-right:10px;" src="http://mycoralreef.es/uploads/animal/{{ obj.Animal.image }}">
                                <b>{{ obj.Animal.realName}}</b>  {{ obj.Animal.spanishName }}  <span style="color:#ccc;">{{ obj.Animal.animalCategory }}</span>
                            </p>
                            <span class="btn btn-default"> {{ entry.created |date('d M')  }} </span>
                            <a class="btn btn-info" href="#0" class="cd-read-more" class="margin:3px;">Visitar</a>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
            {% elseif entry.type == 'died' %}

                <div class="cd-timeline-block" >
                    <div class="cd-timeline-img cd-picture" style="background-color: #fff;color:#000;">
                        <img src="/img/skull40.png">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content" style="background-color: #000;color:#fff;">
                        <h2 style="color:#fff;"> Fallecio un inquilino </h2>
                        <p style="color:#fff;">
                            {% set obj = entry.obj  %}
                            <img class="col-lg-5 col-xs-12 col-sm-6" style="padding:0px;padding-right:10px;" src="http://mycoralreef.es/uploads/animal/{{ obj.Animal.image }}">
                            <b>{{ obj.Animal.realName}}</b>  {{ obj.Animal.spanishName }}  <span style="color:#ccc;">{{ obj.Animal.animalCategory }}</span>
                        </p>
                        <span class="btn btn-default"> {{ entry.created |date('d M')  }} </span>
                        <a class="btn btn-info" href="#0" class="cd-read-more" class="margin:3px;">Visitar</a>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                {% elseif  entry.type == 'timeline' %}
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-location" style="background-color:#a9302a;color:#fff;">
                            <i class="fa fa-commenting-o fa-2x"></i>
                        </div> <!-- cd-timeline-img -->
                        <div class="cd-timeline-content">
                            <h2>Nuevo comentario </h2>
                            <p>
                                {{ entry.description }}
                            </p>
                            <span class="btn btn-default"> {{ entry.created |date('d M')  }} </span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                {% elseif  entry.type == 'device' %}
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-location" style="background-color:#a9302a;color:#fff;">
                            <i class="fa fa-plug fa-2x"></i>
                        </div> <!-- cd-timeline-img -->
                        <div class="cd-timeline-content">
                            <h2>Nuevo aparato </h2>
                            {% set img = entry.img  %}
                            <div data-toggle="tooltip" data-placement="left" id="circle-image" class="col-lg-4" style="backgrouns-color:#ccc;margin:10px;margin-top:0px;width:130px;height:130px;background-image:url('http://mycoralreef.es//script/thumb.php?src={{ img }}&w=130&h=130&a=c');"></div>

                            <p>
                                {{ entry.description }}
                            </p>
                            <span class="btn btn-default"> {{ entry.created |date('d M')  }} </span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                {% elseif  entry.type == 'parameter' %}
                    <div class="cd-timeline-block">
                       <div class="cd-timeline-img cd-location ">
                                <i class="fa fa-area-chart fa-2x"></i>
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h2>Nueva medicion </h2>
                            {{ entry.description }}
                            <p>
                                {% set keys = ['salinity','calcium','ph','temperature','magnesium','phosphate','alkalinity','ammonia','silica','iodine','nitrate','nitrite','boron','iron','strontium','potassium'] %}
                                {% set metrics = ['ppm','ppm','','º','ppm','ppm','dKH | meq/L','ppm','ppm','ppm','ppm','ppm','ppm','ppm','ppm','ppm'] %}
                                {% set keys2 = ['salinidad','calcio','ph','temperatura','magnesio','fosfatos','alkalinidad','amoniaco','silicio','yodo','nitrato','nitrito','boro','hierro','estroncio','potasio'] %}
                                {% for key in keys %}
                                    {% if attribute(entry.obj[0],key) != null %}
                                        {% set trad_id = loop.index-1   %}

                                        <button class="btn btn-default box_transparent" type="button" style="color:#1a1a1a;">
                                            {{ keys2[trad_id] }} {{ attribute(entry.obj[0],key)}} <br>
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <span class="btn btn-default"> {{ entry.created |date('d M')  }} </span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                {% endif %}
        {% endfor %}
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie" style="background-color: #002a80;">
                    <i class="fa fa-user fa-2x"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Bienvenido</h2>
                    <p>El usuario {{ user.username }} se dio de alta con el acuario {{ aquarium.name }}</p>
                    <span class="cd-date">{{ aquarium.createdAt |date('d M') }}</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        </section> <!-- cd-timeline -->
    </div>
</div>
    {% else %}
        <div class="col-lg-offset-2 col-lg-10">
            <div class="col-md-offset-2 col-lg-10" style="min-height:100px;padding:30px">
                <div style="font-size:20px;">
                    <a href="#" style="color:#fff;" class="btn btn-default box_transparent" type="button">
                        <i class="fa fa-tachometer fa-1x"></i> No ha registrado ningun acuario todavia
                    </a>
                </div>
            </div>

        </div>
    {% endif %}
{% block javascripts %}
    {{ parent() }}
    <script src="/vertical-timeline/js/main.js"></script>
{% endblock %}

{% endblock %}
