{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body -%}
    <div class="col-lg-12 front bright-top bright-bottom">
        <h4 style="display: inline-block;"><i class="fa fa-paw"></i> Mis Inquilinos</h4>
        <a class="btn btn-danger btn-lg hidden-phone hidden-tablet hidden-xs hidden-sm" style="top:80px;float:right;" href="{{ path('tenant_new') }}">
            <i class="fa fa-download fa-3"></i><span style="font-size:17px"> Nuevo Inquilino</span>
        </a>
    </div>
<div class="col-lg-12 front bright-top bright-bottom">
    <a class="btn btn-danger btn-lg hidden-desktop hidden-lg hidden-md" style="display:block;top:80px;" href="{{ path('tenant_new') }}">
        <i class="fa fa-download fa-3"></i><span style="font-size:20px"> Nuevo Inquilino</span>
    </a>
<br><br>
    {% if entities|length  == 0 %}
    <div class="col-md-offset-1 col-lg-9" style="min-height: 200px;">
        <div class="alert alert-warning" role="alert">

            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No tienes ningun inquilino todavia.<br><br>

            Puedes empezar a alojar inquilinos desde  <a href="{{ path('tenant_new') }}"><i class="fa fa-plus-circle"></i> AQUI</a>
        </div>
    </div>
    {% endif %}
<div class="row">
    {% for key,tenants in all_tenants %}
        <div class="col-lg-12" style="min-height: 200px;">
        <div class="row">
            <div class="col-lg-10">
                <h4>
                    {% if key == "Peces" %}
                        <img width="40px" style="padding:6px;background-color:#fff;border:solid 1px #eee;" src="/img/Clown.png" alt="..." >
                    {% endif %}
                    {% if key == "Corales" %}
                        <img width="40px" style="padding:6px;background-color:#fff;border:solid 1px #eee;" src="/img/Coral.png" alt="..." >
                    {% endif %}
                    {% if key == "Invertebrados" %}
                        <img width="40px" style="padding:6px;background-color:#fff;border:solid 1px #eee;" src="/img/Crab.png" alt="...">
                    {% endif %}
                    {% if key == "Plantas y algas" %}
                        <img width="40px" style="padding:6px;background-color:#fff;border:solid 1px #eee;" src="/img/algae.png" alt="...">
                    {% endif %}

                    {{ key }}</h4>
            </div>
        {% for entity in tenants %}
            {%  if entity.diedAt != null %}

                {% set backgroundcolor = '#000'  %}
                {% set color = '#fff'  %}
                {% set gray = '&f=2'  %}
            {% else %}
                {% set backgroundcolor = '#f8f8f8'  %}
                {% set color = '#000'  %}
                {% set gray = ''  %}
            {% endif %}

            <div class="col-lg-3 col-md-4 cols-sm-6 col-xs-12" style="color:{{ color }};padding: 0px;border: 1px solid;background-color:{{ backgroundcolor }};border-color:#e7e7e7;border-radius:10px;overflow:hidden;margin-bottom:10px;">
                <div style="height:165px;overflow: hidden;">

                    <a href="{{ path('tenant_show', { 'id': entity.id }) }}">
                        {% if entity.units != null %}
                        <div class="img-circle" alt="..." style="color: #000; padding:6px;background-color:#fff;border:solid 1px #ccc; top: 10px;left: 10px; position:absolute;z-index:10;width:32px" height="50px"; width="70px">x{{ entity.units }}</div>
                       {% endif %}


                <img style="width:100%;" src="http://mycoralreef.es//script/thumb.php?src=/uploads/animal/{{ entity.Animal.image }}&w=275&h=200{{ gray }}">
                    </a>
                    {% set colors = entity.colors|split(';') %}
                    {% if colors[0]|length %}
                    <div style="width:20px;height:20px;background-color:{{ colors[0] }};border:solid 1px #bac0ce; top: -20px;position:relative;z-index:10;"></div>
                    {% endif %}
                    {% if colors[1]|length %}
                    <div style="width:20px;height:20px;background-color:{{ colors[1] }};border:solid 1px #bac0ce; top: -40px;left:20px;position:relative;z-index:10;"></div>
                    {% endif %}
                </div>
                {% if entity.Animal.AnimalCategory == "Pez" %}
                    <img width="60px" style="padding:6px;background-color:#fff;border:solid 1px #eee; top: -30px;left: 110px; position:relative;z-index:10" src="/img/Clown.png" alt="..." class="img-circle">
                {% endif %}
                {% if entity.Animal.AnimalCategory == "Coral" %}
                    <img width="60px" style="padding:6px;background-color:#fff;border:solid 1px #eee; top: -30px;left: 110px; position:relative;z-index:10" src="/img/Coral.png" alt="..." class="img-circle">
                {% endif %}
                {% if entity.Animal.AnimalCategory == "Invertebrado" %}
                    <img width="60px" style="padding:6px;background-color:#fff;border:solid 1px #eee; top: -30px;left: 110px; position:relative;z-index:10" src="/img/Crab.png" alt="..." class="img-circle">
                {% endif %}
                {% if entity.Animal.AnimalCategory == "Plantas y algas" %}
                    <img width="60px" style="padding:6px;background-color:#fff;border:solid 1px #eee; top: -30px;left: 110px; position:relative;z-index:10" src="/img/algae.png" alt="..." class="img-circle">
                {% endif %}
                <div style="min-height:70px;font-weight:bold;font-size:17px;text-align:center;padding-top:0px">
                    <i> {{ entity.Animal.realName }}</i><br> {{ entity.Animal.spanishName }}
                </div>
            {% if entity.diedat != null %}

                <div style="margin-top:10px;width: 100%;text-align: center;  ">
                    <img src="/img/skull40.png"> Fallecido el {{ entity.diedAt|date('d') }} de {{ entity.diedAt|date('M')}} del {{ entity.diedAt|date('Y') }}
                </div>
            {% endif %}
                <div style="margin-top:10px;">
                    <div style="color:#000;background-color:#eee;text-align:center;float:left;width:15%;padding:10px;border-top: 1px solid #bac0ce;border-bottom: 1px solid #fff;">
                        <i class="fa fa-eur"></i><br>{% if entity.price|length %} {{ entity.price }} {% else %} 0 {% endif %}
                    </div>
                    <div style="color:#000;background-color:#eee;text-align:center;float:left;width:55%;padding:10px;border-top: 1px solid #bac0ce;border-bottom: 1px solid #fff;">
                        <i class="fa fa-cube"></i><br> {{ entity.Aquarium }}
                    </div>
                    <div style="color:#000;background-color:#eee;text-align:center;float:left;width:15%;padding:10px;border-top: 1px solid #bac0ce;border-bottom: 1px solid #fff;">
                        <i class="fa fa-arrows-h"></i><br>{% if entity.price|length %} {{ entity.size }} {% else %} n/a {% endif %}
                    </div>
                    <div style="color:#000;background-color:#eee;text-align:center;float:left;width:15%;padding:10px;border-top: 1px solid #bac0ce;border-bottom: 1px solid #fff;">
                        <i class="fa fa-camera"></i><br>{{ gallery[entity.id]| length }}
                    </div>
                </div>

                <div>
                    
                    <div style="width:100%;text-align:center;float:left;padding:10px;display:hidden;">
                           <!--a onclick="return confirm('Opcion deshabilitada temporalmente');" style="visible:hidden;color:#000;" class="mini" href="#">
                           <i class="fa fa-pencil-square-o fa-2x"></i>
                           </a-->
                        {% if entity.diedat == null %}
                            <a onclick="return confirm('Sentimos la perdida, ¿estas seguro que el inquilino ha fallecido?');" style="color:#000;" class="mini btn btn-default" href="{{ path('tenant_die', {'id': entity.id }) }}">
                                <img src="/img/skull40.png"> muerto
                            </a>
                            &nbsp;
                        {% endif %}


                        <a style="color:#000;" onclick="return confirm('¿Seguro que quieres eliminar este inquilino?');" class="mini btn btn-default" href="{{ path('tenant_delete', { 'id': entity.id }) }}"><i class="fa fa-trash"></i> borrar</a>
                        <a style="color:#000;" class="mini btn btn-default" href="{{ path('tenant_show', {'id': entity.id }) }}">
                            <i class="fa fa-eye"></i> ver
                        </a>
                    </div>
                </div>


            </div>


        {% endfor %}
            </div>
        </div>
    {% endfor %}

</div>

    </div>
    {% endblock %}
