{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}
<div class="front">  
<h4><i class="fa fa-flask fa-1x"></i>
REGISTRO CONFIRMADO</h4>
</div>
<div class="col-lg-12 back-solid ">
<div class="alert alert-success" role="alert">Bienvenido {{ app.user.username }}</div>

</div>
{% endblock %}
