

<div id="wrapper">

<form role="form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">


<div class="content">
    {{ form_widget(form) }}
</div>
    <div class="footer">
        <input class="button" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>

</div>
