{% extends "CrijaFrontendBundle::layout.html.twig" %}

{% block body %}
<!-- Main -->
	<article id="main">

		<header class="special container">
			<span class="icon fa-user"></span>
			<h2>Registrate</h2>
			<p>Para poder usar la aplicacion es necesario estar registrado</p>
		</header>
			
		<!-- One -->
			<section class="wrapper style4 special container small">
			
				<!-- Content -->
					<div class="content">

{% include "FOSUserBundle:Registration:register_content.html.twig" %}


</div>
					
			</section>
		
	</article>
{% endblock %}
