{% extends "JalisFrontendBundle::layout.html.twig" %}
{% block body %}

       Hello {{ name }}!
       
      
       {% render controller("JalisFrontendBundle:Default:LastestUsers", {'max': 3}) %}
<div id="alerts">alerts</div>
<script>
$.ajax({
  url: 'waterparameter/my/alerts',
  success: function(data) {
    $('#alerts').html(data);
    alert('Load was performed.');
  }
});
</script>



{% endblock %}
