{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}
<div class="front">  
<h4><i class="fa fa-flask fa-1x"></i>
EDITAR ACUARIO</h4>
</div>
<form action="{{ path('aquarium_update', {'id': entity.id})}}" method="post" name="crija_bundle_aquariumbundle_aquarium">

  {{form_errors(edit_form) }}

    <div class="col-lg-12 front bright-top bright-bottom">
        <div class="col-md-offset-1 col-lg-10">
            <div class="col-lg-12">
                Nombre: {{form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-lg-12" style="margin-top:10px;">
               Descripcion: {{form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-lg-4" style="margin-top:10px;">
                Litros: {{form_widget(edit_form.litres, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-lg-4" style="margin-top:10px;">
                Tipo: {{form_widget(edit_form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-lg-4" style="margin-top:10px;">
               Fecha:  {{form_widget(edit_form.createdAt, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-lg-12">
                <a style="float:right;margin-top:10px;" href="{{ path('aquarium_delete', {id : entity.id}) }}" class="btn btn-default"><i class="fa fa-trash-o fa-3"></i><br><span style="font-size:15px">eliminar</span></a>
                <button style="margin-top:10px;" id="crija_bundle_aquariumbundle_aquarium_submit" name="crija_bundle_aquariumbundle_aquarium[submit]" type="submit" class="btn btn-danger"><i class="fa fa-download fa-3"></i><br><span style="font-size:15px">guardar</span></button>
            </div>
        </div>
    </div>

<input type="hidden" value="PUT" name="_method">

<div style="display: none;">{{ form_rest(edit_form) }}</div>
</form>

    <div class="col-lg-12 front bright-top bright-bottom">
        <h4><i class="fa fa-photo"></i> FOTOS DE MI ACUARIO</h4>
    </div>
    <div class="col-lg-12 front">
        <div class="row front">
            {% if gallery|length >0  %}

                {% for photo in gallery %}

                    {% if (loop.index0  is divisible by(3) or loop.index0 == 0 )  %}
                        <div class="col-md-offset-1 col-lg-12">

                    {% endif %}
                    <div class="col-lg-3" style="padding: 0px;border: 1px solid;background-color:#f8f8f8;border-color:#e7e7e7;border-radius:10px;overflow:hidden;margin-left:20px;margin-bottom:10px;">
                        <div style="height:165px;overflow: hidden;">

                                <img src="http://mycoralreef.es//script/thumb.php?src={{photo.getWebPath }}&w=280&h=165&a=c">


                        </div>

                        <div style="text-align:center;padding-top:20px">

                            {{ photo.title }}
                        </div>
                    </div>

                    {% if (loop.index is divisible by(3) and loop.index0 != 0 )   %}
                        </div>
                    {% endif %}


                {% endfor %}
            {% else %}
                <div class="alert alert-info" role="alert">No hay fotos de este acuario </div>
            {% endif %}
        </div>


    </div>




<div class="col-lg-12 front bright-top bright-bottom">
        <h4><i class="fa fa-camera"></i> NUEVA FOTO</h4>
    </div>
    <div class="col-lg-12 front">
        <form class="form" action="{{ path('photo_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label for="title">Comentario y/o titulo</label>
                {{ form_widget(form.title, { 'attr': {'class': 'orm-control'} }) }}
            </div>
            <div class="form-group">
                <label for="file">Imagen</label>
                {{ form_widget(form.file, { 'attr': {'class': 'orm-control'} }) }}
            </div>

            <button class="btn btn-info" type="submit">Guardar</button>

            {{ form_end(form) }}
        </form>
</div>



    {% block javascripts %}
    {{ parent() }}
    <script>
    $(function() {
    $( ".datepicker" ).datepicker();
    });
    </script>


{% endblock %}
{% endblock %}
