{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}
<div class="front">  
<h4><i class="fa fa-flask fa-1x"></i>
NUEVO ACUARIO</h4>
</div>
<form action="{{ path('aquarium_create')}}" method="post" name="crija_bundle_aquariumbundle_aquarium">
    {{form_errors(form) }}
     <div class="col-lg-12 front bright-top bright-bottom">
         <div class="col-md-offset-1 col-lg-10">
             <div class="col-lg-12">
                 Nombre: {{form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
             </div>
             <div class="col-lg-12" style="margin-top:10px;">
                 Descripcion: {{form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
             </div>
             <div class="col-lg-4" style="margin-top:10px;">
                 Litros: {{form_widget(form.litres, {'attr': {'class': 'form-control'}}) }}
             </div>
             <div class="col-lg-4" style="margin-top:10px;">
                 Tipo: {{form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
             </div>
             <div class="col-lg-4" style="margin-top:10px;">
                 Fecha:  {{form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}
             </div>
             <div class="col-lg-12">
                 <button style="margin-top:10px;" id="crija_bundle_aquariumbundle_aquarium_submit" name="crija_bundle_aquariumbundle_aquarium[submit]" type="submit" class="btn btn-danger"><i class="fa fa-download fa-3"></i><br><span style="font-size:15px">guardar</span></button>
             </div>

         </div>
     </div>

    

    <div style="display: none;">{{ form_rest(form) }}</div>
</form>
    {% block javascripts %}
        {{ parent() }}
        <script>
            $(function() {
                $( ".datepicker" ).datepicker();
            });
        </script>


    {% endblock %}
  {% endblock %}
