{% extends "JalisFrontendBundle::layout.html.twig" %}

{% block body -%}
    <h1>Acuario Marino</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Litres</th>
                <td>{{ entity.litres }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('aquarium') }}">
            Volver a mis acuarios
        </a>
    </li>
    <li>
        <a href="{{ path('aquarium_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    
     {% render controller("CrijaAquariumBundle:WaterParameter:index", {'aquarium_id': entity.id}) %}
{% endblock %}
