
<div class="front bright-bottom">
    <h4><i class="fa fa-area-chart fa-1x"></i>
        Fotos del acuario</h4>
</div>
<div class="front bright-top bright-bottom" style="text-align:center;">

<div style="overflow:hidden;display:inline-block;">
    {% if photos | length > 0 %}
{% for photo in photos %}
    <div data-toggle="tooltip" data-placement="left" id="circle-image" class="col-lg-3 circle-image" style="backgrouns-color:#ccc;margin:10px;width:200px;height:200px;background-image:url('http://mycoralreef.es//script/thumb.php?src={{ photo.getWebPath }}&w=200&h=200&a=c');">
    </div>




{% endfor %}
    {% else %}

        <div style="text-align:center;color:#000;background-color:#fff;"><span class="alert alert-info"> No hay fotos de este acuario</span></div>
    {% endif %}
</div>
</div>

