{% extends "CrijaFrontendBundle::layout.html.twig" %}
{% block body %}
<style>
    body { margin: 0; padding: 0; }
</style>
<!-- Main -->
	<article id="main">

		<header class="special container">
			<span class="icon fa-key"></span>
			<h2>Identificate</h2>
			<p>Para poder usar la aplicacion es necesario estar identificado</p>
		</header>
			
		<!-- One -->
			<section class="wrapper style4 special container small">
			
				<!-- Content -->
					<div class="content">
		<form name="login-form" class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		<div class="col-lg-5 water_imput">
			<div class="input-group input-group-lg">
			  <span class="input-group-addon">Usuario</span>
		
		           <input name="_username" class="form-control" id="username" type="text" class="input username" value="Username" onfocus="this.value=''" />
			</div>
		</div>
		<div class="col-lg-5 water_imput">
			<div class="input-group input-group-lg">
			  <span class="input-group-addon">Clave</span>
			   <input name="_password" id="password" class="form-control" type="password" class="input password" value="Password" onfocus="this.value=''" />
			</div>
		</div>
            <div class="col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Recordar</span>
                    <input type="checkbox" id="remember_me" name="_remember_me"  />
                </div>
            </div>

          {% if error %}
          <div style="background: none repeat scroll 0 0 #E89E99;border-color: #E89E99;color: white !important;padding:8px;margin-top:8px;margin-bottom:8px;">{{ error }}</div>
          {% endif %}
		<input type="submit" name="submit" value="Identificarme"/>
		</form>
	
</div>
					
			</section>
		
	</article>
{% endblock %}
