<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}MyCoralReef.es | Seguimiento de acuarios{% endblock %}</title>

{% block stylesheets %}

<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="/weather-icons/css/weather-icons.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/jquery-ui/jquery-ui.min.css" />
<link rel="stylesheet" href="/jquery-ui/jquery-ui.theme.min.css" />
<link rel="stylesheet" type="text/css" href="/select2/dist/css/select2.css">
<link rel="stylesheet" href="/colorpicker/dist/css/bootstrap-colorpicker.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
<link href="/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">

<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">


{% endblock %}
 <!--script src="/js/jquery.js"></script-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/select2/dist/js/select2.full.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script src="/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
{% block javascripts %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52818018-1', 'auto');
  ga('send', 'pageview');

</script>
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip(

        )
    })
</script>
{% endblock %}
<style>
    @media (max-width: 767px){
        .navbar {
            padding:0 20px;
        }
    }
</style>
<link rel="icon" type="image/png" href="/seahorse.png">
</head>
<body style="margin:0px;padding:0px;">


<div class="container" style="padding:0px;">
    
    <div class="navbar navbar-default" role="navigation" style="min-height:75px">

  
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('panel_home') }}"><img src="/img/logo_b.png" style="margin-left:10px;"></a>
          </div>
{% if is_granted('ROLE_USER') %}
          <div class="navbar-collapse collapse" style="min-height: 80px; margin-right:0px;">


            <ul class="nav navbar-nav hidden-xs" style="text-align:center;">
               <li style="display: inline-block;"><a href="{{ path('panel_home') }}" ><i class="fa fa-tachometer fa-3x" data-toggle="tooltip" data-placement="bottom" title="Portada"></i> </a></li>
               <li style="display: inline-block;"><a href="{{ path('waterparameter_new') }}" data-toggle="tooltip" data-placement="bottom" title="Nueva medicion"><i class="fa fa-plus-circle fa-3x"></i> </a></li>
               <li style="display: inline-block;"><a href="{{ path('aquarium') }}" data-toggle="tooltip" data-placement="bottom" title="Mis acuarios"><i class="fa fa-cube fa-3x"></i></a></li>
               <li style="display: inline-block;"><a href="{{ path('parameter') }}" data-toggle="tooltip" data-placement="bottom" title="Graficas de mediciones"><i class="fa fa-area-chart fa-3x"></i></a></li>
	           <li style="display: inline-block;"><a href="{{ path('history') }}"><i class="fa fa-history fa-3x" data-toggle="tooltip" data-placement="bottom" title="Historial de mediciones"></i></a></li>
                <li style="display: inline-block;"><a href="{{ path('event') }}" data-toggle="tooltip" data-placement="bottom" title="Alertas"><i class="fa fa-calendar fa-3x"></i>{#% render controller("CrijaReminderBundle:Event:number" ) %#}</a></li>
                <li style="display: inline-block;"><a href="{{ path('tenant') }}" data-toggle="tooltip" data-placement="bottom" title="Mis inquilinos"><i class="fa fa-paw fa-3x"></i></a></li>
                <li style="display: inline-block;"><a href="{{ path('timeline') }}" data-toggle="tooltip" data-placement="bottom" title="Cuaderno de bitacora"><i class="fa fa-code-fork fa-3x"></i></a></li>
                <li style="display: inline-block;"><a href="{{ path('device') }}" data-toggle="tooltip" data-placement="bottom" title="Sala de maquinas"><i class="fa fa-plug fa-3x"></i></a></li>
                <li style="display: inline-block;"><a href="{{ path('panel_tools') }}" data-toggle="tooltip" data-placement="bottom" title="Recursos"><i class="fa fa-magic fa-3x"></i></a></li>

            </ul>

              <ul class="nav navbar-nav hidden-md hidden-sm hidden-lg hidden-desktop">
                  <li class="btn"><a style="text-align:left;font-size:18px;" class="btn btn-default" href="{{ path('panel_home') }}" ><i class="fa fa-tachometer fa-1x" title="Portada"></i> Portada</a></li>
                  <li class="btn"><a style="text-align:left;font-size:18px;" class="btn btn-default" href="{{ path('waterparameter_new') }}"  title="Nueva medicion"><i class="fa fa-plus-circle fa-1x"></i> Nueva medicion </a></li>
                  <li class="btn"><a style="text-align:left;font-size:18px;" class="btn btn-default" href="{{ path('aquarium') }}" title="Mis acuarios"><i class="fa fa-cube fa-1x"></i> Mis acuarios</a></li>
                  <li class="btn"><a style="text-align:left;font-size:18px;" class="btn btn-default" href="{{ path('parameter') }}" title="Graficas de mediciones"><i class="fa fa-area-chart fa-1x"></i> Graficas de mediciones</a></li>
                  <li class="btn"><a style="text-align:left;font-size:18px;" class="btn btn-default" href="{{ path('history') }}"><i class="fa fa-history fa-1x" title="Historial de mediciones"></i> Historial de mediciones</a></li>
                  <li class="btn"><a style="text-align:left;font-size:18px;" class="btn btn-default" href="{{ path('event') }}" title="Alertas"><i class="fa fa-calendar fa-1x"></i>{#% render controller("CrijaReminderBundle:Event:number" ) %#} Alertas</a></li>
                  <li class="btn"><a style="text-align:left;font-size:18px;" class="btn btn-default" href="{{ path('tenant') }}" title="Mis inquilinos"><i class="fa fa-paw fa-1x"></i> Mis inquilinos</a></li>
                  <li class="btn"><a style="text-align:left;font-size:18px;" class="btn btn-default" href="{{ path('timeline') }}" title="Cuaderno de bitacora"><i class="fa fa-code-fork fa-1x"></i> Cuaderno de bitacora</a></li>
                  <li class="btn"><a style="text-align:left;font-size:18px;" class="btn btn-default" href="{{ path('device') }}" title="Sala de maquinas"><i class="fa fa-plug fa-1x"></i> Sala de maquinas</a></li>
                  <li class="btn"><a style="text-align:left;font-size:18px;" class="btn btn-default" href="{{ path('panel_tools') }}" title="Recursos"><i class="fa fa-magic fa-1x"></i> Recursos</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                 <li>
                     <div class="btn-group" style="margin-top:15px;margin-right:10px;">
		                <div class="dropdown-toggle" data-toggle="dropdown">
		                    <i style="padding-bottom: 15px;padding-top: 15px;margin-right:5px;margin-left:5px;color:#777777;" class="fa fa-cog fa-1x"></i>mi cuenta&nbsp;&nbsp;&nbsp;
		                </div>
                         <a><ul class="dropdown-menu" role="menu"></a>
		                      <li><a><b>{{app.user.username}}</b></a></li>
		                      <li><a href="{{ path('fos_user_profile_edit') }}">Editar datos</a></li>
                              <li><a target="_blank" href="{{ path('public_user_show', {'nick' :app.user.username }) }}">Perfil publico</a></li>
		                      <li class="divider"></li>
		                      <li><a href="{{path('fos_user_security_logout')}}">Desconectar</a></li>
		                    </ul>
                        </a>
                </li>
              </ul>
          </div><!--/.nav-collapse -->
{% endif %}
        </div><!--/.container-fluid -->
      </div>
        {% block body %}
        {% endblock %}

   <div class="col-lg-12 front bright-bottom">
        <i class="fa fa-info-circle"></i> <span style="font-weight:300">My Coral Reef Panel </span><span style="font-weight:bold"> v2.0</span>
        {% if is_granted('ROLE_USER') %}
                <div style="width: 200px; text-align:right;float:right;"><i class="fa fa-key"></i> <span style="width:100px;font-weight:300">
                        Conectado como</span> <span style="font-weight:bold">{{app.user.username}}</span>
                </div>
        {% endif %}
       <div class="alert alert-warning" role="alert">Cualquier problema o duda podeis contactarnos en hola@mycoralreef.es, disculpen las molestias</div>
   </div>

    <div class="col-lg-12 front" style="background-color: #fff;">

        <h4>Agredecimientos a:</h4>

        <a href="http://www.todoacuario.es" target_="_blank" class="alert alert-info" style="margin:10px;">
          <img src="http://www.todoacuario.es/favicon.ico?c=77"> Todoacuario.es
        </a>

        <a href="http://www.wikimarino.com" target_="_blank" class="alert alert-info" style="margin:10px;">
            <img src="http://wikimarino.com/wp-content/uploads/2012/02/favicon_wm.gif" style="width:20px;"> Wikimarino.com

        </a>

        <a href="http://www.todomarino.com" target_="_blank" class="alert alert-info" style="margin:10px;">
            <img src="http://www.todomarino.com/forum/favicon.ico"> Todomarino.com
        </a>
        <a href="http://www.20lab.com" target_="_blank" class="alert alert-info" style="margin:10px;">
            <img src="http://projects.20lab.com//s/es_ES1i170b/6346/42/_/favicon.ico"> 20lab.com
        </a>

    </div>

</div>





</body>
</html>
