<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}MyCoralReef.es | Seguimiento de acuarios{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="/weather-icons/css/weather-icons.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/jquery-ui/jquery-ui.min.css" />
        <link rel="stylesheet" href="/jquery-ui/jquery-ui.theme.min.css" />
        <link rel="stylesheet" type="text/css" href="/select2/dist/css/select2.css">
        <link rel="stylesheet" href="/colorpicker/dist/css/bootstrap-colorpicker.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
        <link href="/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">


    {% endblock %}
    <!--script src="/js/jquery.js"></script-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/select2/dist/js/select2.full.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script src="/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
    {% block javascripts %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-52818018-1', 'auto');
            ga('send', 'pageview');

        </script>

        <script>

            $(function () {
                $('[data-toggle="tooltip"]').tooltip(

                )
            })
        </script>
    {% endblock %}
    <style>
        @media (max-width: 767px){
            .navbar {
                padding:0 20px;
            }
        }
    </style>
    <link rel="icon" type="image/png" href="/seahorse.png">
</head>
<body style="margin:0px;padding:0px;">


<div class="container" style="padding:0px;">

    <div class="navbar navbar-default" role="navigation" style="min-height:75px">


        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('panel_home') }}"><img src="/img/logo_b.png" style="margin-left:10px;"></a>
            </div>

            <div class="navbar-collapse collapse" style="min-height: 80px; margin-right:0px;">

                <ul class="nav navbar-nav hidden-xs" style="text-align:center;">
                    <li style="display: inline-block;"><a href="{{ path('public_user_show', {'nick' :user.username }) }}"><i data-toggle="tooltip" data-placement="bottom" title="Portada perfil de {{ user.username }}" class="fa fa-home fa-3x"></i>{{ user.username }}</a></li>
                    <li style="display: inline-block;"><a href="{{ path('timeline_public',{'nick' : user.username}) }}"><i data-toggle="tooltip" data-placement="bottom" title="Cuaderno de bitacora de {{ user.username }}" class="fa fa-code-fork fa-3x"></i>{{ user.username }}</a></li>
                    <li style="display: inline-block;"><a href="{{ path('device_public',{'nick' : user.username}) }}"><i data-toggle="tooltip" data-placement="bottom" title="Sala de maquinas de {{ user.username }}" class="fa fa-plug fa-3x"></i>{{ user.username }}</a></li>

                </ul>

                <ul class="nav navbar-nav hidden-md hidden-sm hidden-lg hidden-desktop" style="text-align:center;">
                    <li class="btn"><a style="text-align:left;font-size:18px;" href="{{ path('public_user_show', {'nick' :user.username }) }}"><i class="fa fa-home fa-1x"></i> Portada perfil de {{ user.username }}</a></li>
                    <li class="btn"><a style="text-align:left;font-size:18px;" href="{{ path('timeline_public',{'nick' : user.username}) }}"><i class="fa fa-code-fork fa-1x"></i> Cuaderno de bitacora de {{ user.username }}</a></li>
                    <li class="btn"><a style="text-align:left;font-size:18px;" href="{{ path('device_public',{'nick' : user.username}) }}"><i class="fa fa-plug fa-1x"></i> Sala de maquinas de {{ user.username }}</a></li>

                </ul>


            </div>

        </div><!--/.nav-collapse -->

    </div><!--/.container-fluid -->





        {% block body %}
        {% endblock %}
   <div class="col-lg-12 front">
    <i class="fa fa-info-circle"></i> <span style="font-weight:300">My Coral Reef Panel </span><span style="font-weight:bold"> v2.0</span>

{% if is_granted('ROLE_USER') %}
        <div style="width: 200px; text-align:right;float:right;"><i class="fa fa-key"></i> <span style="width:100px;font-weight:300">
                Conectado como</span> <span style="font-weight:bold">{{app.user.username}}</span>
        </div>
{% endif %}
       <div class="alert alert-warning" role="alert">Cualquier problema o duda podeis contactarnos en hola@mycoralreef.es, disculpen las molestias</div>
   </div>



</div>





</body>
</html>