{% extends "CrijaFrontendBundle::layout.html.twig" %}

{% block header %}
	{% include "CrijaFrontendBundle::header.html.twig" with  {mainheader: true} %}
{% endblock %}

{% block body %}

	{% block bodybanner %}
		<!-- Banner -->		
		<section id="banner">
			<div class="inner">
				<header><h2><img src="{{ asset('frontendbundle/images/logo_color.png') }}" alt="MY CORAL REEF" height="60" /></h2></header>
				<p>Gestiona tu <strong>ACUARIO</strong> fácilmente.<br />
				Desde cualquier dispositivo.<br />
				Gracias a <a href="">MY CORAL REEF</a>.</p>
				<footer>
					<ul class="buttons vertical">
						<li><a href="#main" class="button fit scrolly">Quiero saber más</a></li>
					</ul>
				</footer>
			
			</div>
		</section>
	{% endblock %}

<section class="wrapper style1 container special">
    <div class="row half">
        <div class="12u">
            <a href="#" class="icon circle fa-codepen"></a><span class="copyright"> {{ aquariums }} acuarios</span>
            <a href="#" class="icon circle fa-anchor"></a><span class="copyright"> {{ litres|number_format(0, ',', '.') }} Litros de agua salada</span>
            <a href="#" class="icon circle fa-users"></a><span class="copyright"> {{ users }} Usuarios</span>
            <a href="#" class="icon circle fa-bar-chart"></a><span class="copyright"> {{ meditions }} Mediciones de parametros</span>
            <a href="#" class="icon circle fa-paw"></a><span class="copyright"> {{ tenants }} Inquilinos</span>
            <br>
            <p>
            Aqui puedes ver unas estadisticas globales de todos los usuarios de My Coral Reef <a href="{{ path('global_widget_parameter') }}" class="button special">ver estadisticas</a>
            </p>

        </div>


    </div>
</section>



<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">
							
								<section>
									
									<i class="fa fa-bar-chart-o fa-4" style="font-size:72px;margin-top:10px"></i>
									<header>
										<h3>Parametros</h3>
									</header>
									<p>Gracias a las graficas e historial de mediciones de tus acuarios podras ver la evolucion de tu acuario</p>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<i class="fa fa-bell fa-4" style="font-size:72px;margin-top:10px"></i>
									<header>
										<h3>Notificaciones</h3>
									</header>
									<p>Crea tus propias notificaciones, periodicas o unicas, para cambios de agua,adiccion quimicos, medicamentos...</p>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<i class="fa fa-graduation-cap fa-4" style="font-size:72px;margin-top:10px"></i>
								
									<header>
										<h3>Consejos</h3>
									</header>
									<p>La comunidad y expertos de CoralReef te aconsejara como mantener tu acuario o a solucionar los problemas que puedas tener</p>
								</section>
							
							</div>
						</div>
					</section>

<section class="wrapper style2 container special-alt">
						<div class="row half">
							<div class="8u">
							
								<header>
								Quedan muchas cosas por añadir y probar, </h2>
								</header>
								<p>Poco a poco iremos añadiendo y mejorando las funcionaldiades de myCoralReef, aplicaciones nativa para android e iOs comunidad, expertos, poblacion de tu acuario, consejos, alertas automaticas...y todo lo que a traves del contacto nos pidais</p>
								
							
							</div>
							<div class="4u skel-cell-important">
							
								<ul class="feature-icons">
									<li><span class="icon fa-apple"><span class="label">Feature 1</span></span></li>
									<li><span class="icon fa-android"><span class="label">Feature 2</span></span></li>
									<li><span class="icon fa-flask"><span class="label">Feature 3</span></span></li>
									<li><span class="icon fa-users"><span class="label">Feature 4</span></span></li>
									<li><span class="icon fa-paw"><span class="label">Feature 5</span></span></li>
									<li><span class="icon fa-comment"><span class="label">Feature 6</span></span></li>
								</ul>
							
							</div>				
						</div>
					</section>
					
		<!-- Three -->
			<section class="wrapper style3 container special">
			
				<header class="major">
					<h2>La mejores <strong>herramientas</strong> para mantener tus acuarios marinos y de agua dulce</h2>
				</header>
				
				<div class="row">
					<div class="6u">
					
						<section>
							<a href="#" class="image feature"><img src="/img/demo/demo1.png" alt="" /></a>
							<header>
								<h3>Administracion de acuarios</h3>
							</header>
							<p>Administra todos tus acuarios, catalogandolos por nombre, tamaño y listros.</p>
						</section>

					</div>
					<div class="6u">
					
						<section>
							<a href="#" class="image feature"><img src="/img/demo/demo3.png" alt="" /></a>
							<header>
								<h3>Seguimiento de mediciones</h3>
							</header>
							<p>Historial de todas la mediciones y evolucion, para poder comparar y observar la evolucion de los parametros mas importantes en tus acuarios</p>
						</section>

					</div>
				</div>
				<div class="row">
					<div class="6u">
					
						<section>
							<a href="#" class="image feature"><img src="/img/demo/demo2.png" alt="" /></a>
							<header>
								<h3>Graficas</h3>
							</header>
							<p>Graficos de los parametros agrupados por categorias para poder ver la evolucion de los mismos de una manera rapida y sencilla. </p>
						</section>

					</div>
					<div class="6u">
					
						<section>
							<a href="#" class="image feature"><img src="/img/demo/demo5.png" alt="" /></a>
							<header>
								<h3>Notificaciones</h3>
							</header>
							<p>Crea tus notificaciones y alertas para tener siempre tu acuario a punto, ya sea para recordarte que tienes que realizar un cambio de agua, añadir un medicamente o simplemente para dar de comer a tus inquilinos</p>
						</section>

					</div>
				</div>

				
			
			</section>

<section id="cta">
	
		<header>
			<h2>Quieres empezar a usar <strong>MyCoralReef</strong>?</h2>
			<p>Registrate o entrar para empezar a usar nuestras herramientos</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="{{ path('fos_user_registration_register') }}" class="button special">REGISTRARME</a></li>
				<li><a href="{{ path('fos_user_security_login') }}" class="button">ENTRAR</a></li>
			</ul>
		</footer>
	
	</section>

{% endblock %}
