<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
        xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
{% for entity in entities %}

    {% if entity.spanishName is not empty %}
    <url>
        <loc>http://www.mycoralreef.es{{ path('animal_show', {'slug': entity.realName|url_encode,'spanishName': entity.spanishName|url_encode }) }}</loc>
        <image:image>
            <image:loc>http://www.mycoralreef.es/uploads/animal/{{ entity.image }}</image:loc>
        </image:image>
    </url>
    {% endif %}

{% endfor %}
</urlset>