{% extends "JalisFrontendBundle::layout_public.html.twig" %}

    {% block title %}MyCoralReef.es | {{ entity.realName }} - {{ entity.spanishName }} {% endblock %}
  {% block description %}{{ entity.description| slice(0, 170) }}{% endblock %}
{% block body -%}

<style>

    .circle-image{
        width:200px;
        height:200px;
        border-radius:50%;
        display:block;
        background-position-y:25%;
        borborder:2px solid #fff;
        cursor: pointer;
    }

    .ui-tooltip {

        border: 1px solid ccc;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
        padding: 8px;
        color: #333;
        border-radius: 7px;
        font-size:10px;
    }
    .animal_info ul {
        padding-left: 0;
        width: 47%;
        margin-right: 1%;
        float: left;
        list-style: none;
    }
    .animal_info li {
        margin: 0 0 5px 0;
        line-height: 20px;
        border: 1px solid #eee;
    }
    .animal_info b {
        background-color: #eee;
        color: #999;
        padding: 2px 5px;
        margin: 0 6px 0 -2px;
        display: inline-block;
        min-width: 16px;
        text-align: center;
    }



</style>


<div class="col-lg-12 front bright-top bright-bottom">
        <div class="col-md-offset-1 col-lg-10">
            <a href="#" data-toggle="tooltip" title="Haz click aqui para ver la imagen completa">
            <div data-toggle="tooltip" data-placement="left" id="circle-image" class="col-lg-5 circle-image" style="background-image:url('http://mycoralreef.es//script/thumb.php?src=/uploads/animal/{{ entity.image }}&w=200&h=200&a=c');">
                    <i class="fa fa-eye"></i>
            </div>
            </a>


            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <img src="http://mycoralreef.es/uploads/animal/{{ entity.image }}">

                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div style="font-size:20px;">{{ entity.realName |upper }}

                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                    <br>
                    <div style="font-size:15px;">{{ entity.spanishName }} | <span style="color:#bbb;">{{ entity.animalCategory }}</span></div>


                 </div>
            </div><br><br>
            <div class="col-lg-8" style="margin-top:10px;">
                <ul class="animal_info">
                    <li><b><i class="fa fa-arrows-h"></i> tamaño medio </b>{{ entity.size }}</li>
                    <li><b><i class="fa fa fa-exclamation-triangle"></i> dificultad</b>{{ entity.dificulty }}</li>
                    {%  if entity.animalCategory|lower  != 'coral' %}
                    <li><b><i class="fa fa-cube fa"></i> reef safe</b>{{ entity.reefSafe }}</li>
                    <li><b><i class="fa fa-smile-o"></i> temperamento</b>{{ entity.temperament }}</li>
                    <li><b><i class="fa fa-home"></i> litros necesarios</b>{{ entity.volume }}</li>
                    {% endif %}
                    {%  if entity.fuente is not null  %}
                    <li><b><i class="fa fa-globe"></i> fuente</b>{{ entity.fuente }}</li>
                    {% endif %}
                </ul>

            </div>

        </div>
    <div class="col-lg-12 front bright-top bright-bottom">




    </div>
        <div class="col-md-offset-1 col-lg-10 back-solid">
            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#descripcion" aria-controls="descripcion" role="tab" data-toggle="tab">Descripcion</a></li>
                    <li role="presentation"><a href="#comportamiento" aria-controls="comportamiento" role="tab" data-toggle="tab">Comportamiento</a></li>
                    <li role="presentation"><a href="#alimentacion" aria-controls="alimentacion" role="tab" data-toggle="tab">Alimentacion</a></li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="descripcion">{{ entity.description }}</div>
                    <div role="tabpanel" class="tab-pane" id="comportamiento">{{ entity.feeding }}</div>
                    <div role="tabpanel" class="tab-pane" id="alimentacion">{{ entity.behavior }}</div>

                </div>

            </div>
        </div>
</div>





{% block javascripts %}
    {{ parent() }}
    <script>
        $( "#circle-image" ).click(function() {
            $('.bs-example-modal-lg').modal('show')
        });

        $(function() {
            $( document ).tooltip({
                track: true
            });
        });



    </script>
    {% endblock %}
{% endblock %}
