{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body -%}
<div class="front">  
<h4><i class="fa fa-plus-circle fa-1x"></i>NUEVA NOTIFICACION</h4>
</div>


<form name="crija_bundle_reminderbundle_event" method="post" action="/app_dev.php/event/">
<div class="col-lg-12 back">

	<div class="col-md-offset-1 col-lg-5 water_imput">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Tipo<span style="font-size:10"> ppm</span></span>
		   {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
        <div class="col-md-offset-1 col-lg-5 water_imput">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Fecha<span style="font-size:10"> ppm</span></span>
		   {{ form_widget(form.startedAt, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
        <div class="col-md-offset-1 col-lg-5 water_imput">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Periodicidad<span style="font-size:10"> ppm</span></span>
		   {{ form_widget(form.periodicity, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
          <div class="col-md-offset-1 col-lg-5 water_imput">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Mensaje<span style="font-size:10"> ppm</span></span>
		   {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
</div>      

<div style="display: none;">{{ form_rest(form) }}</div>
 <div class="col-lg-12 crystal-header-bottom">
	          <button type="submit" class="btn-mini"><i class="fa fa-download fa-3"></i><br><span style="font-size:15px">Guardar</span></button>
	    </div>
</form>


{% endblock %}
