{% if(entities|length >0 ) %}
{% for entity in entities %}
<form name="complete-reminder" method="post" action="{{path('complete-reminder')}}" class="form-inline">
    <div class="alert alert-{{ entity.priority }}" role="alert">
        {% if entity.type == 0 %}
            {% set info =  'Alerta periodica cada ' ~ entity.periodo ~ ' dias'  %}
        {% else %}
            {% set info = 'Alerta puntual' %}
        {% endif %}
             <div class="col-lg-6"><i class="fa fa-bell"></i> {{ info }}<br> Quedan {{entity.countDown}} dias para "{{ entity.message }}"</div>
              <input type="hidden" value="{{entity.id}}" id="event" name="event">
              <input type="datetime" value="{{entity.completedAt|date('Y-m-d')}}" class="form-control datepicker event{{entity.id}}" name="completedAt" id="event{{ entity.id }}"><input type="submit" value="guardar nueva fecha" class="btn btn-info">
             <a href="{{ path('event_borrar', {'id': entity.id}) }}" class="btn btn-danger">
               <i class="fa fa-bell-slash-o"></i>
            </a>   
              <script>
              $(function() {
              $( ".event{{entity.id}}" ).datepicker({ dateFormat: 'yy-mm-dd' });
              });
              </script>
    </div>
 </form>   

{% endfor %}
{% else %}
<div class="alert alert-warning" role="alert">No hay notificaciones creadas. Da de alta tu primera notificacion desde aqui: <a href="{{ path('event_new') }}" class="btn btn-danger" style="top:30px;">
               <i class="fa fa-calendar"></i> nuevo
            </a></div>
{% endif %}

