<header id="header" {% if mainheader|default(false) %}class="alt"{% endif %}>
	<h1 id="logo"><a href="index.html">
{% if mainheader|default(false) %}<img src="/frontendbundle/images/logo_w.png" style="width:140px;">{% else  %}<img src="/frontendbundle/images/logo_b.png" style="width:140px;">{% endif %}
	</a></h1>
	<nav id="nav">
		<ul>
			{% if not mainheader|default(false) %}
			<li class="current"><a href="{{ path('index') }}">Inicio</a></li>
			{% endif %}
			<li class="submenu">
				<a href="">Menú</a>
				<ul>
					<li><a href="{{ path('fos_user_registration_register') }}">Crear cuenta</a></li>
				
					<li><a href="{{ path('contact') }}">Contacto</a></li>
				</ul>
			</li>
			<li><a href="{{ path('fos_user_security_login') }}" class="button special">Entrar</a></li>
		</ul>
	</nav>
</header>
